{
  "db_scheme": {{ demeter_db_driver | to_json }},
  "db_user": {{ demeter_db_user | to_json }},
  "db_pass": {{ demeter_db_password | to_json }},
  "db_host": {{ demeter_db_host | to_json }},
  "db_port": {{ demeter_db_port | to_json }},
  "db_name": {{ demeter_db_name | to_json }}
}
